input {
    display: block;
    width: 95%;
    padding: 10px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
  }
  .form-control.success input {
    border:2px solid green;
  }
  .form-control.fail input {
    border:2px solid red;
  }
  .form-control small {
    visibility: hidden;
    font-size: .8rem;
    color: red;
  }
  .form-control.fail small {
    visibility: visible;
  }
  .form-control input:focus {
    outline: 0;
  }
  .form-inputs label {
    display: block;
    margin-bottom: 5px;
    color: #777;
  }
  .form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  